@media print {
  body {
    width: 17cm;
    height: 25,4cm;
    color: black;
  }
}

@media screen {
  body {
    width: 1200px;
    height: 500px;
    color: white;
    background-color: blue;
  }
}

